{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/admin_custom.css' %}">
{% endblock %}

{% block sidebar %}
    {{ block.super }}
    <div class="module">
        <h2>Links Rápidos</h2>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lista_servicos' %}" target="_blank">Lista de Serviços</a>
            </li>
        </ul>
    </div>
{% endblock %}