{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/admin_custom.css' %}">
{% endblock %}


{% block sidebar %}
    {{ block.super }}
{% endblock %}

{% block userlinks %}
    <a href="{% url 'admin:index' %}">Administração</a> /
    <a href="{% url 'guia' %}">Guia</a> /
    {{ block.super }} //
<style>

    a.section[href="/admin/auth/"],
    a.section[href="/admin/core/"] {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: inherit;
    }

</style>
{% endblock %}

