<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% extends "admin/base_site.html" %}
    {% block content %}
      <h1>Guia do Sistema</h1>
      <p>Bem-vindo ao Gerador de Escalas. Aqui está um guia rápido:</p>

      <ul>
        <li><strong>Escalas</strong>: onde adiciona os serviços atribuídos aos militares.</li>
        <li><strong>Dispensas</strong>: registre os dias em que os militares estão indisponíveis.</li>
        <li><strong>Lista de Serviços</strong>: cadastre os tipos de serviço disponíveis.</li>
        <!-- Adicione mais instruções aqui -->
      </ul>
    {% endblock %}


</head>
<body>

</body>
</html>