{% extends "admin/change_form.html" %}
{% load i18n %}


{% block submit_buttons_bottom %}
    {{ block.super }}

    {% if custom_reset_button %}
        <form method="post" style="display:inline">
            {% csrf_token %}
            <input type="submit" class="button"
                   name="_reset_ordem"
                   value="Reset ordem por NIM" />
        </form>
    {% endif %}

    {% if export_pdf_url %}
        <form method="get" action="{{ export_pdf_url }}" style="display:inline">
            <input type="submit" class="button" value="Exportar lista de Militares (PDF)">
        </form>
    {% endif %}
{% endblock %}


{% block object-tools %}
  {{ block.super }}
{% endblock %}