{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
  <div class="submit-row">

    <input type="submit"
           value="{% trans 'Gravar' %}"
           name="_save"
           class="button"
           style="background-color:#4c6721; border-color:#4c6721; color:#fff;">


    {% if original and original.pk %}
    <a href="{% url 'admin:core_escala_delete' original.pk %}" class="deletelink"> {% trans 'Remover' %}</a>
    {% endif %}

    {% if export_pdf_url %}
      <form method="get" action="{{ export_pdf_url }}" style="display:inline">
        <input type="submit" class="button"
               value="{% trans 'Exportar lista de Militares (PDF)' %}">
      </form>
    {% endif %}

  </div>
{% endblock %}

{% block object-tools %}
  {{ block.super }}
{% endblock %}
